@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.score-container {
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 5px 5px 20px rgba(110, 110, 110, 0.801);
    margin: 2%;
}

.team-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.table {
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-items: center;
    grid-column: 1 / span 2;
    text-align: center;
    
}

.team1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    margin: 20px;
}

.team .wl {
    font-size: 1rem;
    color: rgb(150, 150, 150);
}

.team-score {
    font-size: 3.5rem;
    color: rgb(83, 83, 83);
}

@media (min-width: 992px) {
    .team-container {
        display: flex;

    }

    .team1, .team2 {
        flex-direction: row;
    }
    .team {
        align-items: flex-end;
        margin: 20px;
    }
    .team2 {
        flex-direction: row-reverse;
    }

    .team2 .team {
        align-items: flex-start;
    }

    .table {
        padding: 30px;
    }
}