@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Semi Condensed', sans-serif;
    scroll-behavior: smooth;
}

.score-container {
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 1px 1px 30px rgba(17, 128, 2, 0.473);
    margin: 2%; 
}

.team-container {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 30px 0;
}

.tabla {
    grid-row: 2;
    grid-column: 1 / span 2;
    text-align: center;
    
}

.team1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    margin: 20px;
}

.team .wl {
    font-size: 1rem;
    color: rgb(150, 150, 150);
}

.team-score {
    font-size: 3.5rem;
    color: rgb(83, 83, 83);
}

@media (min-width: 992px) {
    .team-container {
        display: flex;

    }

    .team1, .team2 {
        flex-direction: row;
    }
    .team {
        align-items: flex-end;
        margin: 20px;
    }
    .team2 {
        flex-direction: row-reverse;
    }

    .team2 .team {
        align-items: flex-start;
    }

    .tabla {
        padding: 30px;
    }
}

.navbar {
    font-size: 1.2rem;
    background-color: rgb(17, 128, 2);
}

.navbar a {
    color: white;
}

.nav-logo {
    width: 100px;
}

/* CONTACTO */
.contact {
    padding-top: 35px;
}

textarea {
    resize: none;
}

textarea:focus,
textarea[type]:focus,
input:focus,
input[type]:focus {
    border-color: rgba(0, 128, 0, 0.342);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(17, 128, 2, 0.473);
    outline: 0 none;
}
.contact a {
    text-decoration: none;
    color: black;
}

.contact label {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.carrousel {
    width: 500px;
    height: 400px;
}

.carousel-image {
    height: 60vh;
}

.bg-img1 {
    background-image: url(../img/295613164_5250315368354961_8287305791752428416_n.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.news {
    height: 80vh;
    margin: 2%;
    
}

.game {
    height: 80vh;
}

.img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://www.publicdomainpictures.net/pictures/330000/velka/black-lines-stripes-illustration-1586947218ETs.jpg");
}